.note{
    width: 100vw;
    height: 464px;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.1s ease;
}

.n{
    height: 64px;
    display: flex;
    border-radius: 10px;
    position: absolute;
}

.nB{
    background: #fc5c65;
    top: 2px;
}

.nA{
    background: #fd9644;
    top: 68px;
}

.nG{
    background: #fed330;
    top: 134px;
}

.nF{
    background: #26de81;
    top: 200px;
}

.nE{
    background: #45aaf2;
    top: 266px;
}

.nD{
    background: #4b7bec;
    top: 332px;
}

.nC{
    background: #a55eea;
    top: 398px;
}

.s1{
    width: 10vw;
    right: -10vw;
}

.s2{
    width: 20vw;
    right: -20vw;
}

.s3{
    width: 30vw;
    right: -30vw;
}

.s4{
    width: 40vw;
    right: -40vw;
}

.s5{
    width: 50vw;
    right: -50vw;
}

.s6{
    width: 60vw;
    right: -60vw;
}

.s7{
    width: 70vw;
    right: -70vw;
}

.s8{
    width: 80vw;
    right: -80vw;
}

.s9{
    width: 90vw;
    right: -90vw;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .note{
        height: 436px;
    }

    .n{
        height: 60px;
    }

    .nB{
        top: 2px;
    }
    
    .nA{
        top: 64px;
    }
    
    .nG{
        top: 126px;
    }
    
    .nF{
        top: 188px;
    }
    
    .nE{
        top: 250px;
    }
    
    .nD{
        top: 312px;
    }
    
    .nC{
        top: 374px;
    }
}

@media screen and (max-width: 768px) {
    .note{
        height: 380px;
    }

    .n{
        height: 52px;
    }

    .nB{
        top: 2px;
    }
    
    .nA{
        top: 56px;
    }
    
    .nG{
        top: 110px;
    }
    
    .nF{
        top: 164px;
    }
    
    .nE{
        top: 218px;
    }
    
    .nD{
        top: 272px;
    }
    
    .nC{
        top: 326px;
    }
}
