.whitekey{
    width: 100%;
    height: 64px;
    background: #F5F6FA;
    border-right: solid 2px #DCDDE1;
    border-top: solid 1px #DCDDE1;
    border-bottom: solid 1px #DCDDE1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #DCDDE1;
}

.whitekey > span{
    font-size: 48px;
    margin-right: 40px;
    transform: rotate(270deg);
}

.B{
    border-top-right-radius: 10px;
    border-top: solid 2px #DCDDE1;
}

.C{
    border-bottom-right-radius: 10px;
    border-bottom: solid 2px #DCDDE1;
}

.active.B{
    background: #fc5c65 !important;
    color: #eb3b5a !important;
}

.active.A{
    background: #fd9644 !important;
    color: #fa8231 !important;
}

.active.G{
    background: #fed330 !important;
    color: #f7b731 !important;
}

.active.F{
    background: #26de81 !important;
    color: #20bf6b !important;
}

.active.E{
    background: #45aaf2 !important;
    color: #2d98da !important;
}

.active.D{
    background: #4b7bec !important;
    color: #3867d6 !important;
}

.active.C{
    background: #a55eea !important;
    color: #8854d0 !important;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .whitekey{
        width: 100%;
        height: 60px;
    }

    .whitekey > span{
        font-size: 42px;
        margin-right: 36px;
    }
}

@media screen and (max-width: 768px) {
    .whitekey{
        width: 100%;
        height: 52px;
    }

    .whitekey > span{
        font-size: 36px;
        margin-right: 26px;
    }
}
