.header{
    display: flex;
    align-items: center;
    margin: 0 6%;
    height: 82px;
    border-bottom: 1px solid #464A53;
    justify-content: space-between;
}

.container-title{
    display: flex;
    align-items: center;
}

.title{
    font-size: 32px;
    text-transform: uppercase;
    margin: 0;
    font-weight: 600;
    color: #F5F6FA;
    user-select: none;
}

.multicolor{
    background: -webkit-linear-gradient(#fc5c65, #fd9644,#fed330,#26de81,#45aaf2,#4b7bec,#a55eea);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container-button{
    display: flex;
    align-items: center;
}

.container-button-item{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 22px;
}

.container-button-item > svg{
    color: #F5F6FA;
    font-size: 22px;
}

.container-button-item:hover > svg{
    color: #DCDDE1;
}

.rotate-icon {
    transition: transform 0.5s;
}

.rotate {
    transform: rotate(360deg);
}
  

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .header{
        height: 72px;
        margin: 0 4%;
    }

    .title{
        font-size: 24px;
    }

    .container-button-item{
        margin-left: 20px;
    }
    
    .container-button-item > svg{
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .header{
        height: 62px;
        margin: 0 2%;
    }
    
    .title{
        font-size: 20px;
    }

    .container-button-item{
        margin-left: 18px;
    }
    
    .container-button-item > svg{
        font-size: 16px;
    }
}
